.recipeListContainer {
  padding: 20px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.recipeList {
  list-style: none;
  padding: 0;
}

.recipeItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.recipeLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.recipeImage {
  width: 100px; 
  height: 100px;
  object-fit: cover; 
  border-radius: 10px;
  margin-right: 15px;
}

.recipeTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
